* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


/*-------------------Imagenes Globales------------------------*/

.logolulu {
    height: 100px;
    width: 150px;
}


.ayuda img {
    height: 30px;
}



body {
    background-image: url("../img/fondito3.png");
}
/* ------------------------------------------ */

#header {
    grid-area: encabezado;
  
}

#introHome {
    grid-area: titular;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: xx-large;
    font-weight: 800;
    color: rgb(250, 147, 12);
} 

#sectionHome {
    grid-area: titular2;
    background-image: url("../img/Impresion-3D.jpeg");
    background-position: center;
    opacity: 0.5;
    text-align: center;
    height: 300px;
}

.contenedorimpresion {
    grid-area: impresion;
}

footer {
    grid-area: pie;

}

#containerHome {
    height: 100vh;
    background-image: url("../img/fondito3.png");
    background-repeat: repeat;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 2fr 2fr auto;
    gap: 15px;
    grid-template-areas: 
        "encabezado"
        "titular"
        "titular2"
        "impresion"
        "pie";
}

.nav-link {
    border-radius: 20px;
}


/* --------------------HOME----------------------------- */

#sectionHome h2 {
    margin-top: 1%;
    color: rgb(255, 255, 255);
    text-shadow: black 0.2em 0.2em;
}

/* --------------PRODUCTOS------------------------- */

#tituloProductos {
    grid-area: titular;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#productos {
    grid-area: productos;
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
    justify-content: center;
}

#containerProductos {
    height: 100vh;
    background-image: url("../img/fondito3.png");
    background-repeat: repeat;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 2fr auto;
    gap: 15px;
    grid-template-areas: 
        "encabezado"
        "titular"
        "productos"
        "pie";
}

#productos img {
    width: 190px;
    height: 130px; 
}

.itemProductos {
    text-align: center;
    padding: 10px;
    transition: all .5s;
}

.itemProductos:hover {
    background-color: rgb(180, 180, 180);
    border-radius:0.5em;
}
#productos a {
    text-decoration: none;
    color: rgb(250, 147, 12);
    font-weight: 600;
}

.itemProductos p {
    color: rgb(250, 147, 12);
}
/* ------------PROMOCIONES----------------------------- */

#promocionados {
    grid-area: titular;
    display: flex;
    flex-direction: column;
    padding: 10px;
} 

#promocionados p {
    color: rgb(255, 102, 0);
    font-weight: 600;
    margin: 2%;
    font-size: large;
}

#introPromociones {
    grid-area: promocionados;
}

#containerPromociones {
    height: 100vh;
    background-image: url("../img/fondito3.png");
    background-repeat: repeat;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 2fr auto;
    gap: 15px;
    grid-template-areas: 
        "encabezado"
        "titular"
        "promocionados"
        "pie";   
}

#introPromociones img {
    width: 250px;
    padding: 10px;
}

#introPromociones h4 {
    text-align: center;
    margin: 2%;
    color: rgb(250, 147, 12);
}

#introPromociones a img:hover {
    border-radius: 25px;
    border: 5px solid rgb(250, 147, 12);
}

.itemsDestacados {
    display:flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.itemsPromocionados {
    display:flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

main h4 {
    color: rgb(250, 147, 12);
    font-weight: 600;
}

main p {
    color: rgb(209, 118, 0);
    font-weight: 600;
    font-size: large;
}

/* -----------------------SOBRE NOSOTROS-------------------------------- */

#introSobreNosotros {
    grid-area: titular;
    display: flex;
    flex-direction: column;
    margin: 2%;
    align-items: center;
    text-align: center;
}

.ubicacion {
    grid-area: ubicacion;
    text-align: center;
}

.ubicacion iframe {
    width: 50%;
    height: auto;
    
}

.ubicacion p {
    font-size: large;
    font-weight: 600;
    color: rgb(255, 102, 0);
    width: 100%;
    padding: 1%;
}
.zorro {    
    margin-top: 5%;  
}

.zorro img {
    width: 25%;
    height: auto;
}

#containerSobreNosotros {
    height: 100vh;
    background-image: url("../img/fondito3.png");
    background-repeat: repeat;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 2fr 1fr auto auto;
    gap: 15px;
    grid-template-areas: 
        "encabezado"
        "titular"
        "ubicacion"
        "pie";
}

#introSobreNosotros p {
    margin-top: 2%;
    color: rgb(255, 102, 0);
    font-weight: 700;
    font-size: large;
    width: 50%;
}

/* ---------------------------CONTACTO--------------------------------- */

.tituloContacto {
    grid-area: titular;
    text-align: center;
}

#formulario {
    grid-area: formulario;

}

#containerContacto {
    height: 100vh;
    background-image: url("../img/fondito3.png");
    background-repeat: repeat;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 2fr auto;
    gap: 15px;
    grid-template-areas: 
        "encabezado"
        "titular"
        "formulario"
        "pie";
}

/* --------------MEDIA QUERIES--------------- */

@media (min-width: 577px) and (max-width: 768px) {

    #productos img {

        width: 225px;

        height: 150px;

    }

}

 
@media (min-width: 1200px) {

    #productos img {

        width: 220px;

        height: 150px;

    }

}

 
@media (min-width: 1880px) {

    #productos img {

        width: 395px;

        height: 295px;

    }

}

@media (min-width: 1200px) {
    .nav-link:hover {
        background-color: rgb(250, 147, 12, 0.6);
    }
}

@media (max-width: 756px) {
    .ayuda img {
        height: 20px;
    }
}

@media (max-width: 756px) {
    .ayuda a span {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    #introPromociones img {
        width: 160px;
        padding: 1px;
    }
}

@media (min-width: 1200px) {
    #introPromociones img {
        width: 310px;
        padding: 1px;
    }
}

@media (max-width: 768px) {
    .zorro {
        flex-direction: column;
    }
}