#containerHome {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 2fr 2fr auto;
    gap: 15px;
    grid-template-areas:
        "encabezado"
        "titular"
        "titular2"
        "impresion"
        "pie";

    .header {
        grid-area: encabezado;
    }

    .introHome {
        grid-area: titular;
        text-align: center;

        h1 {
            @include titularPrincipal
        }
    }

    .sectionHome {
        grid-area: titular2;
        text-align: center;
        height: 400px;
        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 400px;
            background: url("../img/Impresion-3D.jpeg"), linear-gradient(319deg, #f80202 0%, #f87102 57.66%, #fff23d 100%);
            background-blend-mode: multiply;
            background-position: center;
            opacity: 0.7;
            left: 0;
        }

        h2 {
            margin-top: 1%;
            color: rgb(255, 255, 255);
            text-shadow: black 0.2em 0.2em;
            position: relative;
            top: 42%;
        }
    }

    .contenedorimpresion {
        grid-area: impresion;
    }

    footer {
        grid-area: pie;

    }
}