@media (min-width: 577px) and (max-width: 768px) {
    .productos img {
        width: 225px;
        height: 150px;
    }
}

 
@media (min-width: 1200px) {
    .productos img {
        width: 220px;
        height: 150px;
    }
}

 
@media (min-width: 1880px) {
    .productos img {
        width: 395px;
        height: 295px;
    }
}

@media (min-width: 1200px) {
    .nav-link:hover {
        background-color: rgb(250, 147, 12, 0.6);
    }
}

@media (max-width: 756px) {
    .ayuda img {
        height: 20px;
    }
}

@media (max-width: 756px) {
    .ayuda a span {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .introPromociones img {
        width: 160px;
        padding: 1px;
    }
}

@media (min-width: 1200px) {
    .introPromociones img {
        width: 310px;
        padding: 1px;
    }
}

@media (max-width: 768px) {
    .zorro {
        flex-direction: column;
    }
}