/*------------------------HOME------------------------------------- */

#containerHome {
    height: 100vh;
    background-repeat: repeat;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 2fr 2fr auto;
    gap: 15px;
    grid-template-areas:
        "encabezado"
        "titular"
        "titular2"
        "impresion"
        "pie";

    .header {
        grid-area: encabezado;
    }

    .introHome {
        grid-area: titular;
        /* display: flex;
        justify-content: center;
        align-items: center; */
        text-align: center;
    }

    .sectionHome {
        grid-area: titular2;
        background-image: url("../img/Impresion-3D.jpeg");
        background-position: center;
        opacity: 0.5;
        text-align: center;
        height: 300px;

        h2 {
            margin-top: 1%;
            color: rgb(255, 255, 255);
            text-shadow: black 0.2em 0.2em;
        }
    }

    .contenedorimpresion {
        grid-area: impresion;
    }

    footer {
        grid-area: pie;

    }
}

/* --------------------PRODUCTOS----------------------------- */

#containerProductos {
    height: 100vh;
    background-repeat: repeat;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 2fr auto;
    gap: 15px;
    grid-template-areas:
        "encabezado"
        "titular"
        "productos"
        "pie";

    .header {
        grid-area: encabezado;
    }

    .tituloProductos {
        grid-area: titular;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .productos {
        grid-area: productos;
        display: flex;
        flex-flow: row wrap;
        gap: 20px;
        justify-content: center;

        img {
            width: 330px;
            height: 230px;
        }

        a {
            text-decoration: none;
            color: $colorPrincipal;
            font-weight: 600;
        }

        .itemProductos p {
            color: $colorPrincipal;
        }

        .itemProductos {
            text-align: center;
            padding: 10px;
            transition: all .5s;

            &:hover {
                background-color: rgb(180, 180, 180);
                border-radius: 0.5em;
            }

        }
    }

    footer {
        grid-area: pie;

    }


}

/* ------------PROMOCIONES----------------------------- */

#containerPromociones {
    height: 100vh;
    background-repeat: repeat;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 2fr auto;
    gap: 20px;
    grid-template-areas:
        "encabezado"
        "titular"
        "promocionados"
        "pie";

    .header {
        grid-area: encabezado;
    }

    .promocionados {
        grid-area: titular;
        display: flex;
        flex-direction: column;
        padding: 10px;

        p {
            color: $colorTexto;
            font-weight: 600;
            margin: 2%;
            font-size: large;
        }

    }

    .introPromociones {
        grid-area: promocionados;
        
        img {
            width: 330px;
            padding: 1px;
            
            &:hover {
                border-radius: 25px;
                border: 5px solid $colorPrincipal;
            }
        }

        .itemsDestacados {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-evenly;
        }

        .itemsPromocionados {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-evenly;            
        }

        h4 {
            text-align: center;
            margin: 2%;
            color: $colorPrincipal;
            font-weight: 600;
        }

    }

    footer {
        grid-area: pie;

    }
}

/* -----------------------SOBRE NOSOTROS-------------------------------- */

#containerSobreNosotros {
    height: 100vh;
    background-repeat: repeat;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 2fr 1fr auto auto;
    gap: 15px;
    grid-template-areas:
        "encabezado"
        "titular"
        "ubicacion"
        "pie";

    .header {
        grid-area: encabezado;
    }

    .introSobreNosotros {
        grid-area: titular;
        display: flex;
        flex-direction: column;
        margin: 2%;
        align-items: center;
        text-align: center;

        p {
            margin-top: 2%;
            color: $colorPrincipal;
            width: 50%;

            font: {
                size: large;
                weight: 700;
            }
        }
    }

    .ubicacion {
        grid-area: ubicacion;
        text-align: center;

        iframe {
            width: 50%;
            height: auto;

        }

        p {
            color: $colorTexto;
            width: 100%;
            padding: 1%;

            font: {
                size: large;
                weight: 600;
            }
        }

        .zorro {
            margin-top: 5%;

            img {
                width: 25%;
                height: auto;
            }
        }
    }

    footer {
        grid-area: pie;

    }
}

/* ---------------------------CONTACTO--------------------------------- */

#containerContacto {
    height: 100vh;
    background-repeat: repeat;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 2fr auto;
    gap: 15px;
    grid-template-areas:
        "encabezado"
        "titular"
        "formulario"
        "pie";

    .header {
        grid-area: encabezado;
    }
    .tituloContacto {
        grid-area: titular;
        text-align: center;
    }
    #formulario {
        grid-area: formulario;
    }
    footer {
        grid-area: pie;
    }
}